{% extends 'core/dashboard.html' %}
{% load render_table from django_tables2 %}
{% load title from django_tables2 %}
{% load querystring from django_tables2 %}

{%  block content %}

    {% render_table table %}

{#    <div id="lista">#}
{#       <table border="1">#}
{#           {% for processo in object_list %}#}
{#               <tr>#}
{#                   <td>{{ processo.user }}</td>#}
{#                   <td><a href="{{ processo.get_absolute_url }}">{{ processo.numero_processo }}</a></td>#}
{#               </tr>#}
{#           {% endfor %}#}
{#       </table>#}
{#    </div>#}
{% endblock %}